@{
    ViewBag.Title = "Confirmación de Donación";
    Layout = "~/Views/AdminHome/Layout_Customer.cshtml";
}

<div class="container mt-5 text-center">
    <h2>¡Gracias por tu donación!</h2>
    <p>Tu contribución nos ayuda a continuar nuestra labor.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-success">Volver al inicio</a>
</div>